* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color: inherit;
}

Link {
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: #fdf0d5;
    width: 100%;
    top:0;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.Logo{
    color:#002868;
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size:23px;
}

.nav{

}

.nav_list{
    display:flex;
    column-gap: 40px;
}

.nav_item{

}

.nav_link{
    font-size: 15px;
    color:rgba(0, 40, 104, 0.75);
    font-weight: 750;
    transition: all 04.s
}

.nav_link:hover{
    color:rgba(0, 40, 104, 1);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
}

.nav--open {
    transform: translateX(0) !important;
}

@media (max-width:650px){
    .nav {
        position: fixed;
        top: 60px;
        left: 0px;
        background-color: #fdf0d5;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }

    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav_link{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }
}