* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color: inherit;
}

Link {
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: #fdf0d5;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
}

.Logo{
    color:#002868;
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size:23px;
}

.nav{

}

.nav_list{
    display:flex;
    column-gap: 40px;
}

.nav_item{

}

.nav_link{
    font-size: 15px;
    color:#002868;
    font-weight: 750;
}

.hamburger{
    display: none;
}

.bar{

}