* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color: inherit;
}

Link {
    text-decoration: none;
    color: inherit;
}

.header{
    background-color: #f7e9d1;
}