.contentWrapper {
    max-width: 800px;
    width: 100%;
    padding: 1.5rem;
    background-color: #f7e9d1;
    border: 2px solid #002868;
    border-radius: 1rem;
	@@ -19,14 +19,15 @@
}

.title {
    font-size: clamp(25px, 5vw, 50px);
    color: #002868;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.paragraph {
    font-size: clamp(12px, 2vw, 20px);
    line-height: 1.6;
    color: #333;
    margin-bottom: 1rem;