.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}